@import '../common';

.navbar {
  height: 1.0rem;
  padding-bottom: 2.8rem;
  padding-left: .5rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    height:3rem;
  }

  .nav-links {
    span {
      color: @lightTextColor;
      font-size: 1rem;
    }
  }
}
img {
  height: 35px;
}
