@import '../common';

.navbar {
  padding: .6em;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .nav-links {
    span {
      color: @lightTextColor;
      font-size: 1rem;
    }
  }
}
img {
  height: 38px;
}
