.player {

  .seekBase {
    height: 30px;
    width: 100%;
    border: 1px solid #607D8B;
  }
  .seekLoad {
    height: 30px;
    width: 0;
    background-color: #607D8B;
  }
  .player-button:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }
  .playlist-container {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .playlist-header {
    margin-bottom: 10px;
  }
  .playlist-song {
    margin-top: 5px;
  }
  .playlist-song:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
    padding: 2px 0px 2px 2px;
  }
  .playlist-song-name {
    font-size: 10px;
  }
  .currently-playing {
    color: #00695C;
    margin-top: -3px;
  }
  .player-controls {
    margin-top: 10px;
  }
  .player-buttons {
    padding-bottom: 10px;
  }
  .play-buttons:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }
  .player-time {
    padding-top: 4px;
  }

  li {
    cursor: pointer;
  }
}
