.player {

  color: #00695C;
  background-color: #FFFFFF;
  font-size: 11px;
  padding: 10px;

  h3 {
    margin-bottom: 5px;
  }
  h4 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 16px;
  }

  .seekBase {
    height: 30px;
    border: 1px solid #607D8B;
  }
  .seekLoad {
    height: 30px;
    width: 0;
    background-color: #607D8B;
  }
  .player-button:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }

  .currently-playing {
    color: #00695C;
    margin-top: -3px;
  }
  .currently-playing-info {
    padding-bottom: -5px;
  }
  .player-controls {
    padding: 10px;
    width: 100%;
  }
  .currently-playing-words {
    padding-top: 10px;
  }
  .play-buttons {
    font-size: 30px;
    margin: 5px;
    margin-bottom: 15px;
    border: 2px solid #00BFA5;
    color: #00BFA5;
  }
  .play-buttons:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }
  .player-time {
    font-size: 14px;
    padding-top: 4px;
  }
  .active-track-indicator {
    background-color: #00BFA5;
    color: #FFFFFF;
    padding: 3px 5px 3px 5px;
  }

  .playlist-song-album, .playlist-song-artist {
    color: #607D8B;
    &:hover {
      color: #FFFFFF;
    }
  }
  .playlist-song-album:hover, .playlist-song-artist:hover {
    color: #FFFFFF;
  }
}
