@import 'common/common';
.app {
  //height: 100%;
  background-color: white;
}
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
sidebar {
  position: fixed;
  z-index: 101;
}
navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.page-content {
  padding-top: 60px;
  padding-bottom: 145px;
}
playlist {
  padding: 5px;
}
.player {
  color: #00695C;
  font-size: 11px;
  background-color: #FFFFFF;
  z-index: 10;
  position: fixed;
  width:100%;
  bottom: 0;
}
@media (min-width: 960px) {
  .not-sidebar {
    margin-left: 285px;
  }
  .player {
    padding-right: 295px;
  }
  .homepage-image {
    width: 800px;
    height: auto;
    margin-top: 20px;
  }
}
@media (min-width: 600px) {
  .homepage-image {
    width: 650px;
    height: auto;
    margin-top: 20px;
  }
}
@media (max-height: 599px) {
  .homepage-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .site-header {
    font-size: 30px;
  }
  .currently-playing-words {
    max-width: 50%;
  }

}
a.md-button.md-ink-ripple {
    background-color: #00BFA5;
}

.artist-buttons {
  margin-top: 20px;
}
.author {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
}
