@import 'common/common';
.app {
  //height: 100%;
  background-color: white;
}
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }



//with a fixed left div, use this
#header header {
  width: 270px;
  /* height: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

//md-list.year-list.light-primary-color.layout-padding {
//  max-height: 600px;
//  overflow-y: inherit;
//}
md-content._md.layout-column.flex {
    //max-height: 600px;
    //overflow-y: inherit;
}
.player {
  color: #00695C;
  font-size: 11px;
  background-color: #FFFFFF;
  /* position: fixed; */
  z-index: 10;
  position: fixed;
  width:80%;
  bottom: 0;
}
navbar {
  position: fixed;
  width: 100%;
  z-index: 101;
}
sidebar {
  position: fixed;
  z-index: 100;
}
playlist {
  position: fixed;
  z-index: 99;
  width: 250px;
}
.not-sidebar {
  margin-left: 275px;
}
.page-content {
  padding-top: 60px;

}
.main-content {
  padding-bottom: 205px;
}
