<navbar></navbar>

<div class="concert-page">

    <div layout="row" ng-cloak>

        <sidebar></sidebar>

        <md-content flex layout="column">
            <!--concertSearchResults-->
            <h1 class="search-results-year-header md-display-1" ng-show="vm.searchResults.length">{{ vm.currentYear }}</h1>
            <div class="search-results">
                <md-list flex>
                    <md-list-item class="md-title concert-search-result-item"
                        ng-repeat="concert in vm.searchResults"
                        ng-click="vm.clickConcertFromIndex(concert.identifier)">
                        <a class="concert-link" href="#">
                            {{ concert.title }}
                        </a>
                    </md-list-item>
                </md-list>
            </div>
            <!--/concertSearchResults-->
        </md-content>
    </div>
<player class="player"></player>
</div>




