.concert-page {

  .site-header {
    margin-top: 20px;
    text-align: center;
  }
  .homepage-image {
    width: 800px;
    height: auto;
    margin-top: 20px;
  }

  .search-results {
    height: 300px;
  }

  .concert-search-result-item {
    background-color: #00695C;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid white;
  }
  .concert-search-result-item:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }

  .concert-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .search-results-year-header {
    text-align: center;
    color: #455A64;
    margin-top: 10px;
  }
  .player {
    z-index: 100;
  }

}
.concert-hidden-form {
  display: none;
}

