.concert-page {

  .concert-song-list {
    margin-left: 20px;
  }

  .song-row {
    background_color: #027353;
    color: #ffffff;
  }

  .concert-search-result-item {
    background-color: #7da3a1;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid white;
  }
  .concert-search-result-item:hover {
    background-color: #004444;
  }
  .main-content {
    height: 550px;
  }

  .search-results {
    max-height:70%;
    flex:1 1 70%;
  }
  .player-container {
    height:30%;
    max-height:30%;
    flex:1 1 30%;
  }
  .concert-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .search-results-year-header {
    text-align: center;
  }

}
.concert-hidden-form {
  display: none;
}

