.concert-page {

  .search-results {
    height: 575px;
  }
  .song-row {
    background_color: #027353;
    color: #ffffff;
  }
  .concert-search-result-item {
    background-color: #7da3a1;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid white;
  }
  .concert-search-result-item:hover {
    background-color: #004444;
  }

  .concert-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .search-results-year-header {
    text-align: center;
    color: #004444;
  }

}
.concert-hidden-form {
  display: none;
}

