<navbar></navbar>

<button ng-click="vm.testService()">testing services</button>

<div class="concert-item">
    <div>
        <h1>{{ vm.concertTitle }}</h1>
    </div>
    <div class="concert-details">
        <p>
            Server: {{ vm.concertServer}}
        </p>
        <p>
            Directory: {{ vm.concertDirectory}}
        </p>
    </div>
</div>



<ul class ="concert-song-list">
    <li ng-repeat="file in vm.concertSongs | filter:{'format': 'VBR MP3'}">
        {{file.title}}
    </li>
</ul>
