.concert-item {

  md-content {
    height: 600px;
  }
  .song-row {
    background-color: #33665C;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid white;
    height: 20px;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .add-to-playlist-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }

}
.song-row {
  display: inline-block;
}
