.concert-item {

  .flex-player, .flex-fixed-spacing, .flex-primary-content {
    display:flex;
    box-sizing: border-box;
    min-width:100%;
  }

  .flex-primary-content {
    height: 60%;
    max-height:60%;
    flex:1 1 60%;
  }

  .flex-fixed-spacing {
    height:10%;
    color: #FFFFFF;
  }

  .flex-player {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
  }

  .concert-item-container {
    height: 400px;
  }

  .concert-details {
    text-align: center;
    margin-top: 10px;
  }

  .song-row {
    background-color: #00695C;
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid white;
    text-decoration: none;
    font-style: normal;
  }
  .song-row:hover {
    background-color: #00BFA5;
  }
  .song-container {
    width: 100%;
    height: 100%;
  }
  .add-to-playlist-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .concert-song-list-container {
    height: 300px;
    overflow: auto;
  }

  md-list-item {
    min-height: 25px;
  }
}
