.concert-item {

  .concert-item-container {
    height: 400px;
  }

  .concert-details {
    text-align: center;
    margin-top: 10px;
  }
  .archive-link:hover {
    background-color: #00BFA5;
    color: #FFFFFF;
  }

  .song-row {
    background-color: #00695C;
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid white;
    text-decoration: none;
    font-style: normal;
  }
  .song-row:hover {
    background-color: #00BFA5;
  }
  .song-container {
    width: 100%;
    padding: 10px;
  }
  .add-to-playlist-link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
  }
  .concert-song-list-container {
    height: 300px;
    overflow: auto;
  }

  md-list-item {
    min-height: 30px;
  }
}
