<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Matthew Vilhauer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/portfolio/portfolio.css">
</head>

<body layout="column" ng-app="portfolio" ng-cloak>
    <div ng-controller="PortfolioController as ctrl">
        <header>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <a href="/"><div class="md-display-1 logo">MV</div></a>
                    <span flex></span>
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                            <i class="material-icons menu-icon"
                               ng-style="{'font-size':'25px', 'color':'#FFFFFF'}">
                                menu
                            </i>
                        </md-button>
                        <md-menu-content width="5">
                            <a class="menu-link" href="#portfolio">
                                <md-menu-item>
                                    <md-button>
                                        Portfolio
                                    </md-button>
                                </md-menu-item>
                            </a>
                            <md-menu-divider></md-menu-divider>
                            <a class="menu-link" href="#about-me">
                                <md-menu-item>
                                    <md-button>
                                        About Me
                                    </md-button>
                                </md-menu-item>
                            </a>
                            <md-menu-divider></md-menu-divider>
                            <a class="menu-link" href="/concertdb">
                                <md-menu-item>
                                    <md-button>
                                        ConcertDB
                                    </md-button>
                                </md-menu-item>
                            </a>
                        </md-menu-content>
                    </md-menu>

                </div>
            </md-toolbar>
            <div layout="column">
                <div class="my-name-container" layout="column" layout-align="center center">
                    <div class="my-name md-display-4">
                        Matthew Vilhauer
                    </div>
                    <div class="my-title md-display-2">
                        Web Developer
                    </div>
                    <div class="my-tag md-title">
                         with a passion for systems design
                    </div>
                    <a href="#portfolio" id="down-arrow">
                        <md-icon class="material-icons home-page-arrow">keyboard_arrow_down</md-icon>
                    </a>
                </div>
            </div>
        </header>



        <section id="portfolio-section">
            <main id="portfolio" class="portfolio-container" ng-cloak>

                <div class="portfolio-header md-display-3" layout="row" layout-align="center">
                    Portfolio
                </div>

                <div class="portfolio-row" layout-gt-sm="row"
                     layout="column"
                     layout-margin
                     layout-align="start center"
                     ng-repeat="project in portfolio track by $index" ng-cloak>

                    <main class="project-content" flex-md="70" flex-order-gt-sm="2" layout-align="start center">
                        <strong>
                            <div class="project-title-container md-display-1">
                                <a href='{{ project.sitelink }}' target="_blank" class="project-title"><span>{{ project.title }}</span></a>
                                <a href='{{ project.githublink }}' target="_blank" ng-if="project.githublink"><i class="social-media-icon project-github-link fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        </strong>

                        <p class="project-description md-title">
                            {{ project.description }}
                        </p>
                        <p class="project-description md-title">
                            <b>Technologies:</b> {{ project.technologies }}
                        </p>
                    </main>

                    <aside flex-md="30" flex-order-gt-sm="1">
                        <img class="project-image" ng-src="{{ project.image }}" />
                    </aside>
                </div>

            </main>
        </section>



        <section id="about-me-section">
            <main id="about-me" class="about-me-container" layout="column" ng-cloak>

                <div class="about-me-header md-display-3" layout="row" layout-align="center">
                    About Me
                </div>

                <div class="profile-pic-container" layout="row" layout-align="center">
                    <img class="profile-pic"  src="http://i.imgur.com/mGWyq1I.jpg" alt="">
                </div>

                <div class="about-me-content md-title" layout="row">
                    <div layout="column">
                        <p class="md-body-2 about-me-paragraph">
                            I was born and raised in Washington DC. I attended UVA from 2007-2011 and obtained a B.S. in Systems & Information Engineering.
                            After college I went to work for The Health Management Academy, an executive-focused health care consulting company based in
                            Alexandria, VA. My career there began as a research analyst, working mostly on compiling and analyzing our company's survey data.
                            Over time I worked on a number of technology projects, including implementing the company’s first CRM and mobile application.
                            I was also part of a two-man team that in two months’ time was able to stand up a Wordpress app that was used by top executives
                            of the largest health systems in the country. Our team saved the company an estimated $85k by taking on the full implementation work,
                            and by using open source technology to build our platform. I eventually was promoted to be the IT Systems Manager, and was the primary
                            admin for all of our company’s SaaS platforms, including our Oracle CRM and Eloqua marketing platform.
                        </p>
                        <p class="md-body-2 about-me-paragraph">
                            Wanting to improve my technical prowess, I decided to attend General Assembly's part-time Back End Web Development course
                            at their DC campus. It gave me a taste of what it is like to develop a web application from the ground up. I loved being able to have
                            control over all aspects of an application, from the layouts and UI to the routing and database relationships.
                        </p>
                        <p class="md-body-2 about-me-paragraph">
                            This exposure to app development ignited a real spark of interest in me, and after about a year of self-taught and on-the-job training,
                            I moved out to San Francisco to enroll in a 12-week Web Development Immersive program at General Assembly, where I strengthened my
                            programming skills by learning how to use the latest web development frameworks and tools in the industry. I have a particular interest
                            in front-end Javascript frameworks like Angular and React, working on real-time data problems, and doing data modeling and visualization.
                            My most recent web application is called ConcertDB, where users can stream concert recordings from Archive.org and create a custom
                            playlist of songs from their library of music. This was developed using Node, Angular, LESS, and PouchDb.  I'm excited to continue
                            learning as I search for jobs that will test my skills and push me to become the best programmer I can be.
                        </p>
                        <p class="md-body-2 about-me-paragraph">
                            In my free time I love to hike, see live music, and tinker with Arduino kits and my 3D printer.
                        </p>
                    </div>

                </div>
            </main>
        </section>



        <footer>
            <div class="social-media-icons" layout="row" layout-align-gt-xs="end center" layout-align="center center">
                <a href="mailto:matthewvilhauer@gmail.com">
                    <md-button class="md-fab md-primary">
                        <i class="social-media-icon fa fa-envelope" aria-hidden="true"></i>
                    </md-button>
                </a>
                <a href="https://github.com/matthewvilhauer" target="_blank">
                    <md-button class="md-fab md-primary">
                        <i class="social-media-icon fa fa-github" aria-hidden="true"></i>
                    </md-button>
                </a>
                <a href="https://www.linkedin.com/in/matthewvilhauer" target="_blank">
                    <md-button class="md-fab md-primary">
                        <i class="social-media-icon fa fa-linkedin-square" aria-hidden="true"></i>
                    </md-button>
                </a>
                <a href="https://www.dropbox.com/s/jv7psodjam5ghio/matthew-vilhauer-resume.pdf?dl=0" target="_blank">
                <md-button class="md-fab md-primary">
                    <i class="social-media-icon fa fa-file-text-o" aria-hidden="true"></i>
                </md-button>
            </div>
        </footer>

    </div>





    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="/portfolio/portfolio.js"></script>

</body>
</html>
