.sidebar {
  .year-list {
    height: 475px;
    overflow: auto;

  }

  .artist-list-choice {
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #004444;
    color: #FFFFFF;
    font-size: 1.6em;
    border: 1px solid white;
  }
  .year-list-choice {
    height: 25px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #86ac41;
    color: #FFFFFF;
    font-size: 14px;
    border: 1px solid white;
  }
  .year-list-choice:hover {
    background-color: #004444;
  }
  .year-list-choice:focus {
    background-color: #004444;

  }
}
