.sidebar {

  .sidenav1 {
    width: 80%;
  }

  .year-list {
    height: 300px;
    overflow: auto;
  }
  .current-artist-container {
    height: 50px;
  }
  .artist-list-choice {
    color: #FFFFFF;
    font-size: 1.6em;
    border: 1px solid white;
  }
  .year-list-choice {
    color: #607D8B;
    font-size: 14px;
    border: 1px solid white;
  }
  .year-list-choice:hover {
    background-color: #455A64;
    color: #FFFFFF;
  }
  .year-list-choice:focus {
    background-color: #455A64;
    color: #FFFFFF;
  }
  md-list {
    padding: 0px;
  }

}
