<div class="sidebar">
    <div layout="row" ng-cloak>
        <md-sidenav layout="column" class="sidenav1" md-is-locked-open='true'>
            <div class="pre-built-searches">
                <div class="artist-list-choice"
                     ng-click="vm.showArtistList()"
                     ng-show="!vm.showArtistChoices">
                    {{ vm.currentArtist }}
                </div>
                <div class="artist-list-choice"
                     ng-show="vm.showArtistChoices"
                     ng-repeat="item in vm.artistChoices"
                     ng-click="vm.setArtist(item.artist)">
                    {{ item.artist }}
                </div>
                <div class="year-list">
                    <div class="year-list-choice"
                         ng-repeat="item in vm.yearChoices"
                         ng-click="vm.setYear(item.year)">
                        {{ item.year }}
                    </div>
                </div>

            </div>
        </md-sidenav>
    </div>
</div>
