<div class="sidebar">
    <md-sidenav
        class="sidenav1"
        md-component-id="leftSideNavbar"
        md-disable-backdrop
        md-is-locked-open="$mdMedia('gt-sm')">
        <!--this is probably not in right place-->
        <!--layout="column"-->
        <div class="current-artist-container default-primary-color"
             ng-click="vm.showArtistList()"
             ng-show="!vm.showArtistChoices">
            <div class="inset">
                <span class="current-artist md-title" layout="row">{{ vm.currentArtist }} <i layout-align="end center" class="material-icons arrow-down">keyboard_arrow_down</i></span>
            </div>
        </div>
        <md-list class="default-primary-color"
                 ng-show="vm.showArtistChoices">
            <md-list-item class="default-primary-color"
                          ng-show="vm.showArtistChoices"
                          ng-repeat="item in vm.artistYearChoices"
                          ng-click="vm.setArtist(item.artist)">
                <md-item-content class="md-title artist-list-choice default-primary-color" layout="row" layout-align="start center">
                    <div class="inset">
                        {{ item.artist }}
                    </div>
                </md-item-content>
            </md-list-item>
        </md-list>
        <!--{{artistObj}}-->
        <md-list class="year-list light-primary-color">
            <md-list-item class="light-primary-color"
                          ng-repeat="year in vm.currentYears"
                          ng-click="vm.setYear(year)">
                <md-item-content class="md-subhead year-list-choice light-primary-color" layout="row" layout-align="start center">
                    <div class="inset">
                        {{ year }}
                    </div>
                </md-item-content>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>
